/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--main-font);
  color: var(--text-color);
  font-variation-settings: 'wght' var(--font-weight-text);
  background-color: var(--background-color);
  background-attachment: fixed;
  background-image: var(--bcgradient);
  background-size: cover;
}

.card-header {
  display: flex;
  flex-direction: column;
  background-color: var(--background-color);
  border: 2px solid currentColor;
  margin: 100px auto;
  text-transform: uppercase;
  font-family: var(--accent-font);
  align-items: center;
}

.theme-menu__list {
  display: flex;
  flex-direction: column;
  width: 84px;
  align-items: flex-start;
  gap: 14px;
  padding: 20px 0;
  font-size: 14px;
}

.button {
  background-color: transparent;
  border: none;
}

.theme-menu__button {
  position: relative;
  text-transform: uppercase;
  transition: opacity 0.3s ease;
  padding: 0;
}

/* СОСТОЯНИЕ КНОПОК в хэдере */
.button:hover {
  cursor: pointer;
}

.theme-menu__button:hover {
  opacity: 0.6;
  transition: opacity 0.3s ease;
}

.theme-menu__button:disabled {
  opacity: 0.6;
  pointer-events: none;
}

.button:focus-visible {
  outline: none;
}

.theme-menu__button:focus {
  outline: none;
  opacity: 0.6;
}
/* КОНЕЦ СОСТОЯНИЯ КНОПОК */

/* АНИМАЦИИ в хэдере*/
.theme-menu__button::after {
  content: '';
  position: absolute;
  display: block;
  width: 0%;
  height: 2px;
  margin-top: -2px;
  background-color: currentColor;
  transform: scaleX(0);
  transition: transform 0.3s ease;
  transform-origin: left;
}

.theme-menu__button:focus-visible::after {
  width: 100%;
  transform: scaleX(1);
}

.theme-menu__button:disabled::before {
  content: "\25B6";
  position: absolute;
  width: 16px;
  height: 13px;
  inset: 2px 0 0 -17px;
  animation: arrow 1s infinite ease-in-out reverse;
}
/* КОНЕЦ АНИМАЦИИ в хэдере*/

.width-card {
  width: var(--wdth);
}

.title {
  font-size: var(--font-title);
  font-variation-settings: 'wght' var(--font-weight-title);
  padding-top: clamp(7.625rem, 6.4712rem + 4.9231vw, 8.625rem);
  padding-bottom: 20px;
}

.subtitle {
  font-size: var(--font-subtitle);
  font-variation-settings: 'wght' var(--font-weight-title);
}

/* почему здесь font-size: 18px; не сработывает для h2 */
.content-card {
  display: flex;
  flex-direction: column;
  background-color: var(--background-color);
  border: 2px solid currentColor;
  margin: 0 auto;
}

.content-card:not(:first-child) {
  margin-top: 50px;
}

.subtitle-card {
  font-family: var(--main-font);
  font-size: 18px;
  line-height: 21.78px;
  padding: 7px 10px;
  font-variation-settings: 'wght' var(--font-weight-title);
}

.card-label {
  display: flex;
  flex-direction: column;
  position: relative;
}

.label {
  position: absolute;
  top: 27px;
  right: 25px;
  font-family: var(--accent-font);
  /* text-transform: uppercase; */
  font-size: 14px;
  line-height: 14px;
  opacity: 50%;
  text-shadow: 0 0 1px var(--label-shadow);
  color: var(--text-color);
  mix-blend-mode: hard-light;
}

@supports((text-stroke: 1px var(--label-shadow)) or (-webkit-text-stroke: 1px var(--label-shadow))) {
  .label {
      -webkit-text-stroke: 1px var(--label-shadow);
      text-stroke: 1px var(--label-shadow);
      text-shadow: none;
  }
} 

.content-picture {
  border-top: 2px solid currentColor;
  border-bottom: 2px solid currentColor;
  aspect-ratio: 1/1;
}

.content-text {
  font-family: var(--main-font);
  font-size: 18px;
  line-height: 21px;
  font-weight: var(--font-weight-text);
  padding: 27px 27px 0 27px;
}

.card__button {
  display: flex;
  justify-content: flex-end;
  padding: 22px;
  gap: 4px;
}

.button__main {
  border: 2px solid var(--text-color);
  display: flex;
  position: relative;
  background-color: var(--background-color);
  align-items: center;
  justify-content: center;
  color: var(--button-text);
}

.card__like-button {
  min-width: 130px;
  /* transition: color 1s ease; */
}

.button__text {
  font-family: var(--accent-font);
  font-size: 14px;
  font-weight: var(--font-weight-text);
  line-height: 12.6px;
  text-align: center;
  position: relative;
  /* color: var(--button-text); */
  mix-blend-mode: difference;
}

.card__save-button {
  padding: 15px 20px;
  gap: 8px;
  margin: 50px auto 100px;
  /* transition: color 1s ease; */
}

.disk {
  inline-size: 21px;
  aspect-ratio: 1/1;
  mix-blend-mode: difference;
}

/* СОСТОЯНИЕ КНОПОК */
.button__main::before {
  content: '';
  position: absolute;
  background-color: var(--text-color);
  inset: 0;
  transform: scaleX(0);
  transition: transform 0.5s ease-in-out;
  transform-origin: left;
}

.button__main:hover::before {
  transform: scaleX(1);
}

.button__main:hover {
  cursor: pointer;
  /* color: var(--background-color); */
}

.button__main:focus-visible {
  box-shadow: 2px 2px currentColor;
  transition: box-shadow 0.3s ease;
}

.card__icon-button {
  transition: border 0.3s ease;
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  border: 2px solid currentColor;
  transition: border 0.3s ease;
}

/* КОНЕЦ СОСТОЯНИЕ КНОПОК */

/* Я понимаю, что здесь должно быть указано 375, но у меня не срабатывает на 375 (как будто равно игнорируется
не знаю, в чем дело) */
@media (width <= 376px) {
  :root {
      --wdth: 100vw;
  }  

  .card__save-button {
    flex-direction: column; 
  }

  .disk {
    inline-size: 30px;
  }

  .dialog {
    padding: 30px 42px;
  }
}

.dialog {
  display: flex;
  flex-direction: column;
  position: fixed;
  inset: 0;
  transition: opacity 0.3s ease-in-out;
  width: var(--wdth-dialog);
  padding: 30px;
  gap: 25px;
  font-family: var(--accent-font);
  line-height: 21px;
  background-color: var(--background-color);
}

.dialog__text {
  color: var(--text-color);
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
}

.dialog:not([open]) {
  pointer-events: none;
  opacity: 0;
}

.dialog::backdrop {
  background-color: rgba(0 0 0/0.75);
}

.card__dialog {
  display: grid;
  grid-template-columns: 39px 1fr;
  align-items: center;
  gap: 20px;
  color: var(--text-color);
}

.dialog-button {
  padding: 11px;
}

/* ФИЛЬТРЫ */
.sepia_50 {
  filter: sepia(50%);
}

.hue-rotate_180 {
  filter: hue-rotate(180deg);
}

.brg-sat-rotate {
  filter: brightness(100%) saturate(60%) hue-rotate(60deg);
}

.opacity {
  filter: opacity(50%);
}

.invert {
  filter: invert(1);
}

.contrast {
  filter: contrast(200%);
}

.blur {
  filter: blur(0.7rem);
}

.grayscale {
  filter: grayscale(80%);
}

