/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
    --main-font: 'Inter', sans-serif;
    --accent-font: 'PressStart2P', serif;
    --text-color: #000;
    --font-weight-text: 400;
    --font-weight-title: 700;
    --background-color: #fff;
    --background-image: url(../svg/pattern-light.svg);
    --font-title: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
    --font-subtitle:clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
    --wdth: clamp(23.4375rem, 16.2852rem + 30.5164vw, 43.75rem);
    --contour-heart: #000;
    --sparks-color: #ff0000;
    --main-body-color: #ff0000;
    --core-color: #fff;
}

/* Я понимаю, что здесь должно быть указано 375, но у меня не срабатывает на 375 (как будто равно игнорируется
не знаю, в чем дело) */
@media (width <= 376px) {
    :root {
        --wdth: 100vw;
    }  

    .card__save-button {
      flex-direction: column;
    }
  
    .content-text {
      padding: 30px 50px 0 27px;
    }
  
    footer {
      margin-block-start: 58px;
    }
  }